# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [4]:
import pandas as pd

#Load the CSV file 
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

#Display column names
print("Original Column Names:")
print(df.columns)

#Function to standardize column names
def standardize_column_names(df):
    df.columns = [
        col.strip().lower().replace(' ', '_').replace('st', 'state')
        for col in df.columns
    ]
    return df
df = standardize_column_names(df)

print("\nStandardized Column Names:")
print(df.columns)

Original Column Names:
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

Standardized Column Names:
Index(['custateomer', 'state', 'gender', 'education',
       'custateomer_lifetime_value', 'income', 'monthly_premium_auto',
       'number_of_open_complaints', 'policy_type', 'vehicle_class',
       'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [5]:
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)
print("Original Column Names:")
print(df.columns)
def standardize_column_names(df):
    df.columns = [
        col.strip().lower().replace(' ', '_').replace('st', 'state')
        for col in df.columns
    ]
    return df
df = standardize_column_names(df)
print("\nStandardized Column Names:")
print(df.columns)

#Function to clean inconsistent values
def clean_data(df):
    df['gender'] = df['gender'].replace({
        'F': 'F', 'Femal': 'F', 'female': 'F', 'f': 'F',
        'M': 'M', 'Male': 'M', 'male': 'M', 'm': 'M'
    })
    
    #Replace state abbreviations with full names
    state_mapping = {
        'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'
    }
    df['state'] = df['state'].replace(state_mapping)

    #Standardize education values
    df['education'] = df['education'].replace({
        'Bachelors': 'Bachelor'
    })

    #Remove '%' character from 'customer_lifetime_value' and convert to numeric
    df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '').astype(float)

    #Standardize 'vehicle_class' column
    df['vehicle_class'] = df['vehicle_class'].replace({
        'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'
    })
    
    return df

df = clean_data(df)

print("\nCleaned Data Sample:")
print(df.head())

Original Column Names:
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

Standardized Column Names:
Index(['custateomer', 'state', 'gender', 'education',
       'custateomer_lifetime_value', 'income', 'monthly_premium_auto',
       'number_of_open_complaints', 'policy_type', 'vehicle_class',
       'total_claim_amount'],
      dtype='object')

KeyError: 'customer_lifetime_value'

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [7]:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

print("Original Column Names:")
print(df.columns)

# Standardize column names to improve consistency
def standardize_column_names(df):
    df.columns = [
        col.strip().lower().replace(' ', '_').replace('st', 'state')
        for col in df.columns
    ]
    return df

df = standardize_column_names(df)
print("\nStandardized Column Names:")
print(df.columns)

# Function to clean inconsistent values
def clean_data(df):
    df['gender'] = df['gender'].replace({
        'F': 'F', 'Femal': 'F', 'female': 'F', 'f': 'F',
        'M': 'M', 'Male': 'M', 'male': 'M', 'm': 'M'
    })
    
    # Replace state abbreviations with full names
    state_mapping = {
        'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'
    }
    df['state'] = df['state'].replace(state_mapping)

    # Standardize education values
    df['education'] = df['education'].replace({
        'Bachelors': 'Bachelor'
    })

    # Remove '%' character from 'customer_lifetime_value' and convert to numeric
    df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '').astype(float)

    # Standardize 'vehicle_class' column
    df['vehicle_class'] = df['vehicle_class'].replace({
        'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'
    })

    return df

df = clean_data(df)

# Function to correct data types of columns
def correct_data_types(df):
    def extract_complaints(complaints):
        try:
            return int(complaints.split('/')[1])
        except (IndexError, ValueError):
            return 0  

    df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(extract_complaints).astype(int)
    
    return df

df = correct_data_types(df)

print("\nCleaned Data Sample:")
print(df.head())
print("\nData Types After Cleaning:")
print(df.dtypes)

Original Column Names:
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

Standardized Column Names:
Index(['custateomer', 'state', 'gender', 'education',
       'custateomer_lifetime_value', 'income', 'monthly_premium_auto',
       'number_of_open_complaints', 'policy_type', 'vehicle_class',
       'total_claim_amount'],
      dtype='object')

KeyError: 'customer_lifetime_value'

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [8]:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

print("Original Column Names:")
print(df.columns)

# Standardize column names to improve consistency
def standardize_column_names(df):
    df.columns = [
        col.strip().lower().replace(' ', '_').replace('st', 'state')
        for col in df.columns
    ]
    return df

df = standardize_column_names(df)
print("\nStandardized Column Names:")
print(df.columns)

# Function to clean inconsistent values
def clean_data(df):
    df['gender'] = df['gender'].replace({
        'F': 'F', 'Femal': 'F', 'female': 'F', 'f': 'F',
        'M': 'M', 'Male': 'M', 'male': 'M', 'm': 'M'
    })
    
    # Replace state abbreviations with full names
    state_mapping = {
        'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'
    }
    df['state'] = df['state'].replace(state_mapping)

    # Standardize education values
    df['education'] = df['education'].replace({
        'Bachelors': 'Bachelor'
    })

    # Remove '%' character from 'customer_lifetime_value' and convert to numeric
    df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '').astype(float)

    # Standardize 'vehicle_class' column
    df['vehicle_class'] = df['vehicle_class'].replace({
        'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'
    })

    return df

df = clean_data(df)

# Function to correct data types of columns
def correct_data_types(df):
    def extract_complaints(complaints):
        try:
            return int(complaints.split('/')[1])
        except (IndexError, ValueError):
            return 0  

    df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(extract_complaints).astype(int)
    
    return df

df = correct_data_types(df)

print("\nCleaned Data Sample:")
print(df.head())
print("\nData Types After Cleaning:")
print(df.dtypes)

# Identify columns with null values and count them
null_counts = df.isnull().sum()
print("\nNull Value Counts by Column:")
print(null_counts[null_counts > 0])

# Choose a strategy to handle null values
# - For numerical columns, fill with the median value
# - For categorical columns, fill with the mode (most common value)
for column in df.columns:
    if df[column].isnull().sum() > 0:
        if df[column].dtype == 'object':
            mode_value = df[column].mode()[0]
            df[column].fillna(mode_value, inplace=True)
            print(f"Filled nulls in '{column}' with mode: {mode_value}")
        else:
            median_value = df[column].median()
            df[column].fillna(median_value, inplace=True)
            print(f"Filled nulls in '{column}' with median: {median_value}")

# Verify that there are no more null values
print("\nNull Value Counts After Filling:")
print(df.isnull().sum())

# Convert all numeric variables to integers
for column in df.select_dtypes(include=['float', 'int']).columns:
    df[column] = df[column].astype(int)

print("\nData Types After Converting Numeric Columns to Integer:")
print(df.dtypes)

# Display final cleaned dataset sample
print("\nFinal Cleaned Data Sample:")
print(df.head())

Original Column Names:
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

Standardized Column Names:
Index(['custateomer', 'state', 'gender', 'education',
       'custateomer_lifetime_value', 'income', 'monthly_premium_auto',
       'number_of_open_complaints', 'policy_type', 'vehicle_class',
       'total_claim_amount'],
      dtype='object')

KeyError: 'customer_lifetime_value'

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [20]:
import pandas as pd

# Load the data
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

# Print original column names for debugging
print("Original columns:", df.columns.tolist())

# Standardize column names
df.columns = (
    df.columns
    .str.lower()
    .str.replace(" ", "_")
)

# Print standardized column names for debugging
print("Standardized columns:", df.columns.tolist())

# Print the names of states to a txt file
if 'state' in df.columns:  # Check if 'state' exists
    with open("state_column.txt", "w") as file:
        for value in df['state']:  # Ensure correct standardized name
            file.write(str(value) + "\n")
else:
    print("Column 'state' not found in DataFrame.")

# Print the names of Vehicle Class to a txt file
if 'vehicle_class' in df.columns:  # Check if 'vehicle_class' exists
    with open("vehicle_class.txt", "w") as file:  # Changed file name to avoid space
        for value in df['vehicle_class']:  # Ensure correct standardized name
            file.write(str(value) + "\n")
else:
    print("Column 'vehicle_class' not found in DataFrame.")

# Continue with data cleaning if 'customer_lifetime_value' exists in clean columns
if 'customer_lifetime_value' in df.columns:
    df['gender'] = df['gender'].replace({
        'F': 'F', 'M': 'M', 'Femal': 'F', 'Female': 'F', 'female': 'F',
        'Male': 'M', 'male': 'M'
    })

    state_mapping = {
        'AZ': 'Arizona',
        'Cali': 'California',
        'WA': 'Washington',
        'NV': 'Nevada',
        'OR': 'Oregon',
        'Washington': 'Washington',
        'Arizona': 'Arizona',
        'California': 'California'
    }

    # Replace names in the dataframe
    df['state'] = df['state'].replace(state_mapping)

    # Clean education column
    df['education'] = df['education'].replace({
        'Bachelors': 'Bachelor'
    })

    # Remove '%' character from customer_lifetime_value column and convert to float
    df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '').astype(float)

    # Standardize 'vehicle_class' column
    df['vehicle_class'] = df['vehicle_class'].replace({
        'Sports Car': 'Luxury',
        'Luxury SUV': 'Luxury',
        'Luxury Car': 'Luxury',
        'Convertible': 'Luxury',
        'Coupe': 'Luxury',
        'Exotic': 'Luxury',
        'Luxury Sedan': 'Luxury',
        'Luxury Coupe': 'Luxury',
        'Luxury Hatchback': 'Luxury',
        'Luxury Truck': 'Luxury',
        'Sedan': 'Standard',
        'Hatchback': 'Standard',
        'SUV': 'Standard',
        'Compact': 'Standard'
    })

# Identify duplicate rows
duplicates = df.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")
df_cleaned = df.drop_duplicates(keep='first')
duplicates_after = df_cleaned.duplicated()  # Track duplicates after cleaning
print(f"Number of duplicate rows after cleaning: {duplicates_after.sum()}")
df_cleaned.to_csv("cleaned_data.csv", index=False)

# Print summary of operations
print("Data cleaning complete!")
if 'state' in df_cleaned.columns:
    print(f"States saved to 'state_column.txt': {len(df_cleaned['state'])} states.")  # Corrected column name
if 'vehicle_class' in df_cleaned.columns:
    print(f"Vehicle classes saved to 'vehicle_class.txt': {len(df_cleaned['vehicle_class'])} vehicle classes.")  # Corrected column name
print("DataFrame columns after standardization:", df_cleaned.columns.tolist())
print("Sample of cleaned data:")
print(df_cleaned.head())

Original columns: ['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']
Standardized columns: ['customer', 'st', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']
Column 'state' not found in DataFrame.

KeyError: 'state'

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here